.background{
    box-shadow: 2px 2px 2px rgb(107, 107, 107);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}

.welcome{
    font-size: 2rem;
    color: gray;
    text-align: center;
    margin-bottom: 0;
}